<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>ConfigCat Test App</title>
    <style type="text/css">
      table, th, td {
        border: 1px solid;
      }
    </style>
  </head>
  <body>
    <div class="adminWrap">
      <main class="adminContent pam">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
